@font-face {
	font-family: 'bo';
	src:url('../fonts/bo.eot?a5m0jb');
	src:url('../fonts/bo.eot?a5m0jb#iefix') format('embedded-opentype'),
		url('../fonts/bo.ttf?a5m0jb') format('truetype'),
		url('../fonts/bo.woff?a5m0jb') format('woff'),
		url('../fonts/bo.svg?a5m0jb#bo') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="bo-"], [class*=" bo-"] {
	font-family: 'bo';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 2;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.bo-ambassador:before {
	content: "\e800";
}
.bo-competitoncrusher:before {
	content: "\e801";
}
.bo-creativity:before {
	content: "\e802";
}
.bo-dedicated:before {
	content: "\e803";
}
.bo-efficient:before {
	content: "\e804";
}
.bo-empowerment:before {
	content: "\e805";
}
.bo-enthusiast:before {
	content: "\e806";
}
.bo-hero:before {
	content: "\e807";
}
.bo-holiday:before {
	content: "\e808";
}
.bo-hotshot:before {
	content: "\e809";
}
.bo-idea:before {
	content: "\e80a";
}
.bo-inspiration:before {
	content: "\e80b";
}
.bo-leadership:before {
	content: "\e80c";
}
.bo-onfire:before {
	content: "\e80d";
}
.bo-organized:before {
	content: "\e80e";
}
.bo-passion:before {
	content: "\e80f";
}
.bo-peacemaker:before {
	content: "\e810";
}
.bo-pioneer:before {
	content: "\e811";
}
.bo-powerful:before {
	content: "\e812";
}
.bo-problemsolver:before {
	content: "\e813";
}
.bo-punctual:before {
	content: "\e814";
}
.bo-responsive:before {
	content: "\e815";
}
.bo-rockstar:before {
	content: "\e816";
}
.bo-smile:before {
	content: "\e817";
}
.bo-speed:before {
	content: "\e818";
}
.bo-teamplayer:before {
	content: "\e819";
}
.bo-Accountability:before {
	content: "\e820";
}
.bo-Reliability:before {
	content: "\e821";
}
.bo-Incident-Prevention:before {
	content: "\e822";
}
.bo-Leadership:before {
	content: "\e823";
}
